[Desktop Entry]
Version=1.0
Type=Application
Name=Simulador Cubo Rubik
Comment=Simulador realista de Cubo de Rubik en 3D
Exec=cubo-rubik
Icon=cubo-rubik
Terminal=false
Categories=Game;Simulation;
StartupNotify=true
